#map {
        height: 100%;
        width: 100%;
      }


      /* Let's get this party started */
      ::-webkit-scrollbar {
          width: 9px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgb(10, 9, 0); 
          -webkit-border-radius: 5px;
          border-radius: 5px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background: rgb(10, 9, 0)
          -webkit-box-shadow: inset 0 0 6px rgb(10, 9, 0); 
      }
      ::-webkit-scrollbar-thumb:window-inactive {
        background: rgb(10, 9, 0); 
      }
    
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-right: 120px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
    	
      }

      #coba {
        
        font-size: 15px;
        margin-right: -300px;
        margin-top: 12px;
      }

      .ini{
      	background-color: #555555;
        border: none;
    	color: white;
        font-family: Roboto;
        padding: 6px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 15px;
    	cursor: pointer;
      }

      .ini1{
      	background-color: #080404;
        border: none;
      	color: white;
        font-family: Roboto;
        padding: 5px;
  	    text-align: center;
  	    text-decoration: none;
  	    font-size: 18px;
      	cursor: pointer;
      	display: none;
        float: left;
        margin-top: 10px;
      }


      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }


      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 10;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 235px;
       display: none;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #037084;
        margin-left: 8px;
        padding: 3px 2px 0px 15px;
        width: 217px;
        display: none;
        float: left;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
      }

       #infowindow-content {
        display: none;
      }
      	#map #infowindow-content {
        display: inline;
      }

      .title {
        font-weight: bold;
        text-align: center;
        margin-left: 70px;
        font-size: 20px;
        color: white;
        margin-top:-40px; 
      }

      .kotak{
        height: 500px;
      	background-color: #afafaf;
      	width: 300px;
      	margin-right: 20px;
      	padding: 20px;
      	opacity: 1;
        display: none;
        overflow: scroll;
      }


      .infoo{
      	color: #000000;
        display: none;
      }

      .kotak2{
        height: 500px;
        background-color: #753535;
        width: 300px;
        margin-right: 20px;
        padding: 20px;
        opacity: 1;
        display: none;
        overflow: scroll;
      }


      .infoo2{
        color: #000000;
        display: none;
      }

      .judul{
        color: white;
        text-align: center;
        margin-bottom: 5px;
      }

      #fotolah{
        text-align: center;
        margin-bottom: 10px;
      }

      #phone{
        margin-left: 5px;
        text-align: justify;
      }

      #place-address{
        margin-left: 5px;
        text-align: justify;
      }

      #website{
        margin-left: 5px;
        text-align: justify;
      }

       #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        overflow: scroll;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      } 

      .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
      }

      .tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: 150%;
          left: 50%;
          margin-left: -60px;
      }

      .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent black transparent;
      }

      .tooltip:hover .tooltiptext {
          visibility: visible;
      }

      #distance{
        color: white;
      }
      #total{
        color: white;
      }                                                                                                                                                                                                                                        